.activities {
	background-color: $white;
	padding-top: 40px;
	width: 100%;
	text-align: center;

	&-title {
		font-size: 2em;
		font-weight: 700;
		color: $green;
		text-shadow: 2px 2px 3px black;
		margin-bottom: 20px;
	}	
}
