.info {
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: $gray;

	&-wrapper {
		padding: 12px;
	}

	&-content {
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
		flex-direction: column;
		height: 100vh;

		&--title {
			margin: 0;
			color: $pink;
			text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
			font-size: 3em;
			font-weight: 700;
			text-align: center;
		}

		@media only screen and (max-width: 360px) {
			&--title {
				font-size: 2.5em;
			}
		}

		&--desc {
			color: $blue;
			text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.7);
			font-size: 1.5em;
			margin-bottom: 10px;
		}

		&--icon {
			width: 25px;
			height: 25px;
			border-radius: 50%;
			background-color: $facebook;
			text-align: center;
			color: $white;
			opacity: 0.5;
		}

		&--icon:hover {
			color: $white;
			opacity: 1;
		}

		&--divider {
			width: 350px;
			border-top: 1px solid $gray;
			border-bottom: 1px solid $green-blue;
		}

		@media only screen and (max-width: 568px) {
			&--divider {
				width: 60%;
			}
		}
	}
}
